* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

li {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    li {
        float: left;
        width: 25%;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    li {
        float: left;
        width: 25%;
    }
    .onlyArticle {
        padding-left: 15%;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        width: 1000px;
        margin: auto;
    }
}

header {
    background-color: lightblue;
    width:  100%;
    padding-bottom: 5;
}

#title {
    color: black;
    font-size: 28px;
}

aside {
    float: left;
    width: 30%;
    line-height: 150%;
}
article {
    float: right;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaa;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

legend{
    font-size: 18px;
}

.searchPrimaryLegend{
    font-size: 24px;
}

li a:hover:not(.active) {
    background-color: #4080cc;
}

.active {
    background-color: #4080cc;
}

th {
    color: #000;
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
}

#bannerPlaceholder {
    padding-bottom: 60px;
}