<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/home/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    <div id="mainNav" class="col-8 col-m-8">
        <nav>
        <!-- Main navigation goes here -->
        <a href="/">{% block home %}<span class="mainNav col-3 col-m-3">{% endblock %}
            Home
        </span></a>
        <a href="/about/">{% block about %}<span class="mainNav col-3 col-m-3">{% endblock %}
            About
        </span></a>
        <a href="/glossary/">{% block glossary %}<span class="mainNav col-3 col-m-3">{% endblock %}
            Glossary
        </span></a>
        <a href="/search/">{% block search %}<span class="mainNav col-3 col-m-3">{% endblock %}
            New Search
        </span></a>
        </nav>
    </div>
    </div>
    {% block main-content %}
    {% endblock %}
</header>
</body>
</html>