<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/home/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div><div class="row"><div id="mainNav">
        <!-- Main navigation goes here  -->
        <nav>
            <ul>
                <li class="active mainNav"><a href="/">
                Home
                </a></li>
                <li class="mainNav"><a href="/about/">
                About
                </a></li>
                <li class="mainNav"><a href="/glossary/">
                Glossary
                </a></li>
                <li class="mainNav"><a href="/newSearch/">
                New Search
                </a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<div class="row">
    <article class="col-8 col-m-8 onlyArticle">
        <h2>ERROR:</h2>
        <p>We were unable to find the page you were looking for. Was your URL properly formatted?</p>
    </article>
</div>
</body>
</html>