<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossary</title>
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/home/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div><div class="row"><div id="mainNav">
        <!-- Main navigation goes here  -->
        <nav>
            <ul>
                <li class="mainNav"><a href="/">
                Home
                </a></li>
                <li class="mainNav"><a href="/about/">
                About
                </a></li>
                <li class="active mainNav"><a href="/glossary/">
                Glossary
                </a></li>
                <li class="mainNav"><a href="/newSearch/">
                New Search
                </a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<div class="row">
    <article class="col-8 col-m-8 onlyArticle">
        <h2>Glossary of Terms:</h2>
        <h3>Bulk Cargo</h3>
            <p>"Bulk cargo" is pretty much exactly what it sounds like - cargo transported in bulk quantities without any particular packaging.  It can be either solid or liquid, and can be moved by pouring or dropping.  The two types of bulk cargo are "liquid" (e.g. oil) and "dry" (e.g. coal).</p>

            <h3>Container/Container Ships</h3>
            <p>Not all cargo stored in containers is classified as container cargo.  Specifically, a shipping container has standardized dimensions allowing it to be stacked in huge blocks as well as loaded onto trucks and trains on land.  These containers are measured in TEUs, or "twenty-foot-equivalent units", with 2-TEU containers predominant.</p>

            <h3>Deadweight Tonnage/DWT</h3>
            <p>Deadweight Tonnage, or DWT, is a measure of the weight of everything except the ship itself.  Cargo, crew, passengers, provisions, fuel, ballast, and anything else that can be taken off of a ship counts towards deadweight, whereas other measurements such as displacement are used to describe the ship itself.</p>

            <h3>Gas/Gas Tankers</h3>
            <p>Here, "gas" refers to cargo that is gaseous at normal temperature and pressure, and "gas tanker" refers to the ships that carry it.  Gas tankers typically differ from normal tankers in a few key ways.  For example, a gas tanker may have a mechanism that allows it to compress its cargo to liquid form on loading, as well as reinforced and refrigerated tanks to keep it that way.</p>

            <h3>General Cargo</h3>
            <p>Here, "general cargo" is a catch-all for cargo that does not fall into the other types:  barrels, drums, crates, cars that are lifted rather than rolled, an so on.  Generally, shipping containers are both more efficient and secure than general cargo, so general cargo has been in decline since the latter half of the twentieth century.</p>

            <h3>Roll-On, Roll-Off (RORO)</h3>
            <p>"RORO" refers to any cargo that is loaded onto and off of a ship by rolling (contrast with "LOLO", or "lift-on, lift-off".  For example, a ferry is a RORO vessel because cars are driven on and off rather than loaded by crane or other contrivance.</p>
            <p>There are pros and cons to configuring a ship for RORO cargo.  On the positive side, loading becomes dramatically more efficient when the cargo moves itself (or can be moved without heavy machinery).  On the negative side, designing a ship to allow cargo to roll on and off can pose a variety of technical problems.</p>

            <h3>Tanker</h3>
            <p>On this site, "tanker" refers specifically to vessels that carry liquid cargo, whereas "gas" or "gas tanker" refer to vessels designed to carry cargo that is gaseuous at normal temperature and pressure.</p>

    </article>
</div>
</body>
</html>