<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div><div class="row"><div id="mainNav">
        <!-- Main navigation goes here  -->
        <nav>
            <ul>
                <li class="active"><a href="/">
                Home
                </a></li>
                <li><a href="/about/">
                About
                </a></li>
                <li><a href="/glossary/">
                Glossary
                </a></li>
                <li><a href="/newSearch/">
                New Search
                </a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<div class="row">
    <aside class="searchBar col-3 col-m-3">
    <!-- All of the forms go here -->
    <form name="Basic Search">
        <br>
        <fieldset>
            <legend class="searchPrimaryLegend">Find Ports</legend>
            <br><fieldset>
            <legend>State:</legend>
            <select name="state">
                <option value="none">---</option>
                <option value="AK">AK</option>
                <option value="CA">CA</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MS">MS</option>
                <option value="NC">NC</option>
                <option value="NH">NH</option>
                <option value="NY">NY</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="PR">PR</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="TX">TX</option>
                <option value="WA">WA</option>
            </select>
        </fieldset><br>

            <fieldset>
            <legend>Total number of calls:</legend>
            Min: <input type="number" name="minAllCalls"><br>
            Max:
            <input type="number" name="maxAllCalls">
            </fieldset><br>

            <fieldset>
            <legend>Total capacity:</legend>
            Min: <input type="number" name="minAllCapacity"><br>
            Max: <input type="number" name="maxAllCapacity">
            </fieldset><br>

            <fieldset>
            <legend>Standard Tankers:</legend>
            Tanker Calls:<br>
            Min: <input type="number" name="minTankerCalls"><br>
            Max: <input type="number" name="maxTankerCalls"><br>
            <br>
            Tanker Capacity:<br>
            Min: <input type="number" name="minTankerCapacity"><br>
            Max: <input type="number" name="maxTankerCapacity">
            </fieldset><br>

            <fieldset>
            <legend>Gas Tankers:</legend>
            Gas Tanker Calls:<br>
            Min: <input type="number" name="minGasCalls"><br>
            Max: <input type="number" name="maxGasCalls"><br>
            <br>
            Gas Tanker DWT:<br>
            Min: <input type="number" name="minGasDWT"><br>
            Max: <input type="number" name="maxGasDWT">
            </fieldset><br>

            <fieldset>
            <legend>Container Ships:</legend>
            Container Ship Calls:<br>
            Min: <input type="number" name="minContainerCalls"><br>
            Max: <input type="number" name="maxContainerCalls"><br>
            <br>
            Container Ship DWT:<br>
            Min: <input type="number" name="minContainerDWT"><br>
            Max: <input type="number" name="maxContainerDWT">
            </fieldset><br>

            <fieldset>
            <legend>Roll-on Roll-off Cargo:</legend>
            Roll-on Roll-off Calls:<br>
            Min: <input type="number" name="minRoRoCalls"><br>
            Max: <input type="number" name="maxRoRoCalls"><br>
            <br>
            Roll-on Roll-off DWT:<br>
            Min: <input type="number" name="minRoRoDWT"><br>
            Max: <input type="number" name="maxRoRoDWT">
            </fieldset><br>

            <fieldset>
            <legend>Bulk Cargo:</legend>
            Bulk Cargo Calls:<br>
            Min: <input type="number" name="minBulkCalls"><br>
            Max: <input type="number" name="maxBulkCalls"><br>
            <br>
            Bulk Cargo DWT:<br>
            Min: <input type="number" name="minBulkDWT"><br>
            Max: <input type="number" name="maxBulkDWT">
            </fieldset><br>

            <input type="submit" formaction="/search">

        </fieldset>
    </form>
    </aside>
    <article class="col-9 col-m-9">
        <h2>Ahoy!</h2>
        <p>Have ye ever seen a ship and wanted to hop aboard, going wherever it takes you?  Or do ye lie awake in yer berth at night, ponderin’ the great mystery of how four-wheeled motor contrivances reach the USA from distant lands?  Better yet, perhaps ye’re a bored swab seekin’ for an easy way to waste half yer watch when the captain’s not lookin’.</p>
        <p>If ye can answer “Aye!” to any of these questions, this be the site for you!</p>
        <p>Potential stowaways can look up ports in their area and see what types of cargo come and go through each of them (since it’s no fun when you have to disguise yourself as cargo for a tanker because you showed up somewhere ready to go to sea and only then found out that the port mostly handles liquid cargo). Folks interested in the movement of a specific good, such as vehicles (roll-on, roll-off cargo), can also find out how much passes through any given port.  Finally, if your captain catches you browsing this site when you’re supposed to be working, at the very least you can pass it off as job-pertinent research.</p>
    </article>
</div>
</body>
</html>