<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/home/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div><div class="row"><div id="mainNav">
        <!-- Main navigation goes here  -->
        <nav>
            <ul>
                <li class="mainNav"><a href="/">
                Home
                </a></li>
                <li class="mainNav"><a href="/about/">
                About
                </a></li>
                <li class="mainNav"><a href="/glossary/">
                Glossary
                </a></li>
                <li class="active mainNav"><a href="/newSearch/">
                New Search
                </a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<div class="row">
<aside class="searchBar col-3 col-m-3">
    <!-- All of the forms go here -->
    <form name="Basic Search">
        <br>
        <fieldset>
            <legend class="searchPrimaryLegend">Find Ports</legend>
            <br><fieldset>
            <legend>State:</legend>
            <select name="state">
                <option value="none">---</option>
                <option value="AK">AK</option>
                <option value="CA">CA</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MS">MS</option>
                <option value="NC">NC</option>
                <option value="NH">NH</option>
                <option value="NY">NY</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="PR">PR</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="TX">TX</option>
                <option value="WA">WA</option>
            </select>
        </fieldset><br>

            <fieldset>
            <legend>Total number of calls:</legend>
            Min: <input type="number" name="minAllCalls"><br>
            Max:
            <input type="number" name="maxAllCalls">
            </fieldset><br>

            <fieldset>
            <legend>Total capacity:</legend>
            Min: <input type="number" name="minAllCapacity"><br>
            Max: <input type="number" name="maxAllCapacity">
            </fieldset><br>

            <fieldset>
            <legend>Standard Tankers:</legend>
            Tanker Calls:<br>
            Min: <input type="number" name="minTankerCalls"><br>
            Max: <input type="number" name="maxTankerCalls"><br>
            <br>
            Tanker Capacity:<br>
            Min: <input type="number" name="minTankerCapacity"><br>
            Max: <input type="number" name="maxTankerCapacity">
            </fieldset><br>

            <fieldset>
            <legend>Gas Tankers:</legend>
            Gas Tanker Calls:<br>
            Min: <input type="number" name="minGasCalls"><br>
            Max: <input type="number" name="maxGasCalls"><br>
            <br>
            Gas Tanker DWT:<br>
            Min: <input type="number" name="minGasDWT"><br>
            Max: <input type="number" name="maxGasDWT">
            </fieldset><br>

            <fieldset>
            <legend>Container Ships:</legend>
            Container Ship Calls:<br>
            Min: <input type="number" name="minContainerCalls"><br>
            Max: <input type="number" name="maxContainerCalls"><br>
            <br>
            Container Ship DWT:<br>
            Min: <input type="number" name="minContainerDWT"><br>
            Max: <input type="number" name="maxContainerDWT">
            </fieldset><br>

            <fieldset>
            <legend>Roll-on Roll-off Cargo:</legend>
            Roll-on Roll-off Calls:<br>
            Min: <input type="number" name="minRoRoCalls"><br>
            Max: <input type="number" name="maxRoRoCalls"><br>
            <br>
            Roll-on Roll-off DWT:<br>
            Min: <input type="number" name="minRoRoDWT"><br>
            Max: <input type="number" name="maxRoRoDWT">
            </fieldset><br>

            <fieldset>
            <legend>Bulk Cargo:</legend>
            Bulk Cargo Calls:<br>
            Min: <input type="number" name="minBulkCalls"><br>
            Max: <input type="number" name="maxBulkCalls"><br>
            <br>
            Bulk Cargo DWT:<br>
            Min: <input type="number" name="minBulkDWT"><br>
            Max: <input type="number" name="maxBulkDWT">
            </fieldset><br>

            <input type="submit" formaction="/search">

        </fieldset>
    </form>
    </aside>
<article class="col-8 col-m-8">
        <h2>Search Results</h2>
        <table class="col-12 col-m-12">
            <tr>
                <th class="col-3 col-m-3">Name</th>
                <th class="col-3 col-m-3">State</th>
                <th class="col-3 col-m-3">Number of Calls</th>
                <th class="col-3 col-m-3">Total Capacity</th>
            </tr>
            <!-- <tr><td><em>There are no results to display!</em></td></tr> -->
        </table>
    </article>
</div>
</body>
</html>