<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<header>
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/home/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div><div class="row"><div id="mainNav">
        <!-- Main navigation goes here  -->
        <nav>
            <ul>
                <li class=" mainNav"><a href="/">
                Home
                </a></li>
                <li class="active mainNav"><a href="/about/">
                About
                </a></li>
                <li class="mainNav"><a href="/glossary/">
                Glossary
                </a></li>
                <li class="mainNav"><a href="/newSearch/">
                New Search
                </a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<div class="row">
    <article class="col-10 col-m-8 onlyArticle">
        <h2>About This Website:</h2>
        <p>
            This website is Adante Ratzlaff's and Kilian Roberts' Database Project for Carleton's Winter 2017 Software Design class.
            The website allows users to query a database containing information provided in the "2012 Vessel Calls at US Ports, Terminals, and Lightering Areas Report"
            produced by the U.S. Department of Transportation Maritime Administration, available at <a href="https://catalog.data.gov/dataset/vessel-calls-at-us-and-world-ports-2012-vessel-calls-in-u-s-ports-terminals-and-lightering-fcbc0">DATA.gov</a>
            and "Intended for public access and use".
            The database contains information on calls at U.S. ports by oceangoing vessels of at least 10,000 deadweight tons.
            </p>
        <p>
            The site allows the user to retrieve information on ports
            that meet user-specified requirements as to the number of ships of various types that call at the port. From the search results
            page, the user may click on a particular port to access a port-specific page that contains most of the information on that port
            contained in the database. We were able to include properly functioning search columns on multiple pages, implement basic responsive web
            design to make the site easily viewable from mobile devices, and code the search results page so that it remembers the parameters
            from the user's last search when displaying information. The one feature that I most wanted to add but that we didn't have time to is a
            function that would allow the user to sort search results by an order of their choice, and the feature that Adante most wanted to add
            was a set of buttons that would let the user collapse parts of the search column.

            The SQL script that we used to create our database is located <a href="/sql/">here</a>.
        </p>

    </article>
</div>
</body>
</html>