<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two methods of URL redirects</title>
</head>
<body>
    <input id="nameInput" type="text" >
    <br>
    <button id="jinjaHackBtn" onclick="jinja_hack_redirect()">Greet with Jinja hack!</button>
    <br>
    <button id="flaskUtilBtn" onclick="flask_util_redirect()">Greet with flask_util!</button>
</body>
<script type="text/javascript" src="{{ url_for("flask_util_js") }}"></script>
<script type="text/javascript">
    var greet_url_temp = "{{ url_for('greet', person='NOTAPERSON') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='redirect.js') }}"></script>
</html>