<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
<header>
    <!-- Site ID and top bar -->
    <div class="row">
    <div id="siteID" class="col-4 col-m-4">
        <h1><a id="title" href="/">2012 Shipping Data</a></h1>
        <h4><em>Without ships, we'd be sunk</em></h4>
    </div>
    <div id="bannerPlaceholder" class="col-8 col-m-8"></div>
    </div>
    <div id="mainNav">
    <!-- Main navigation goes here  -->
    <nav>
        <ul>
            <li class="mainNav"><a href="/">
            Home
            </a></li>
            <li class="mainNav"><a href="/about/">
            About
            </a></li>
            <li class="mainNav"><a href="/glossary/">
            Glossary
            </a></li>
            <li class="active mainNav"><a href="/search/">
            New Search
            </a></li>
        </ul>
    </nav>
    </div>
</header>
<div class="row">
<aside class="searchBar col-3 col-m-3">
    <!-- All of the forms go here -->
    <form name="Basic Search">
        <br>
        <fieldset>
            <legend class="searchPrimaryLegend">Find Ports</legend>
            <br><fieldset>
            <legend>State:</legend>
            <select name="state" selected="{{ lastQuery.state }}">
                <option value="">---</option>
                <option value="AK" {{ selected.AK }}>AK</option>
                <option value="CA" {{ selected.CA }}>CA</option>
                <option value="CT" {{ selected.CT }}>CT</option>
                <option value="DE" {{ selected.DE }}>DE</option>
                <option value="FL" {{ selected.FL }}>FL</option>
                <option value="GA" {{ selected.GA }}>GA</option>
                <option value="HI" {{ selected.HI }}>HI</option>
                <option value="LA" {{ selected.LA }}>LA</option>
                <option value="MA" {{ selected.MA }}>MA</option>
                <option value="MD" {{ selected.MD }}>MD</option>
                <option value="ME" {{ selected.ME }}>ME</option>
                <option value="MS" {{ selected.MS }}>MS</option>
                <option value="NC" {{ selected.NC }}>NC</option>
                <option value="NH" {{ selected.NH }}>NH</option>
                <option value="NY" {{ selected.NY }}>NY</option>
                <option value="OR" {{ selected.OR }}>OR</option>
                <option value="PA" {{ selected.PA }}>PA</option>
                <option value="PR" {{ selected.PR }}>PR</option>
                <option value="RI" {{ selected.RI }}>RI</option>
                <option value="SC" {{ selected.SC }}>SC</option>
                <option value="TX" {{ selected.TX }}>TX</option>
                <option value="WA" {{ selected.WA }}>WA</option>
            </select>
        </fieldset><br>

            <fieldset>
            <legend>Total number of calls:</legend>
            Min: <input type="number" name="minAllCalls" value="{{ lastQuery.minAllCalls }}"><br>
            Max: <input type="number" name="maxAllCalls" value="{{ lastQuery.maxAllCalls }}">
            </fieldset><br>

            <fieldset>
            <legend>Total capacity:</legend>
            Min: <input type="number" name="minAllCapacity" value="{{ lastQuery.minAllCapacity }}"><br>
            Max: <input type="number" name="maxAllCapacity" value="{{ lastQuery.maxAllCapacity }}">
            </fieldset><br>

            <fieldset>
            <legend>Standard Tankers:</legend>
            Tanker Calls:<br>
            Min: <input type="number" name="minTankerCalls" value="{{ lastQuery.minTankerCalls }}"><br>
            Max: <input type="number" name="maxTankerCalls" value="{{ lastQuery.maxTankerCalls }}"><br>
            <br>
            Tanker Capacity:<br>
            Min: <input type="number" name="minTankerCapacity" value="{{ lastQuery.minTankerCapacity }}"><br>
            Max: <input type="number" name="maxTankerCapacity" value="{{ lastQuery.maxTankerCapacity }}">
            </fieldset><br>

            <fieldset>
            <legend>Gas Tankers:</legend>
            Gas Tanker Calls:<br>
            Min: <input type="number" name="minGasCalls" value="{{ lastQuery.minGasCalls }}"><br>
            Max: <input type="number" name="maxGasCalls" value="{{ lastQuery.maxGasCalls }}"><br>
            <br>
            Gas Tanker DWT:<br>
            Min: <input type="number" name="minGasDWT" value="{{ lastQuery.minGasDWT }}"><br>
            Max: <input type="number" name="maxGasDWT" value="{{ lastQuery.maxGasDWT }}">
            </fieldset><br>

            <fieldset>
            <legend>Container Ships:</legend>
            Container Ship Calls:<br>
            Min: <input type="number" name="minContainerCalls" value="{{ lastQuery.minContainerCalls }}"><br>
            Max: <input type="number" name="maxContainerCalls" value="{{ lastQuery.maxContainerCalls }}"><br>
            <br>
            Container Ship DWT:<br>
            Min: <input type="number" name="minContainerDWT" value="{{ lastQuery.minContainerDWT }}"><br>
            Max: <input type="number" name="maxContainerDWT" value="{{ lastQuery.maxContainerDWT }}">
            </fieldset><br>

            <fieldset>
            <legend>Roll-on Roll-off Cargo:</legend>
            Roll-on Roll-off Calls:<br>
            Min: <input type="number" name="minRoRoCalls" value="{{ lastQuery.minRoRoCalls }}"><br>
            Max: <input type="number" name="maxRoRoCalls" value="{{ lastQuery.maxRoRoCalls }}"><br>
            <br>
            Roll-on Roll-off DWT:<br>
            Min: <input type="number" name="minRoRoDWT" value="{{ lastQuery.minRoRoDWT }}"><br>
            Max: <input type="number" name="maxRoRoDWT" value="{{ lastQuery.maxRoRoDWT }}">
            </fieldset><br>


            <fieldset>
            <legend>Bulk Cargo</legend>
            
            Bulk Cargo Calls:<br>
            Min: <input type="number" name="minBulkCalls" value="{{ lastQuery.minBulkCalls }}"><br>
            Max: <input type="number" name="maxBulkCalls" value="{{ lastQuery.maxBulkCalls }}"><br>
            <br>
            Bulk Cargo DWT:<br>
            Min: <input type="number" name="minBulkDWT" value="{{ lastQuery.minBulkDWT }}"><br>
            Max: <input type="number" name="maxBulkDWT" value="{{ lastQuery.maxBulkDWT }}">

           
            </fieldset>
            <br>

            <input type="submit">

        </fieldset>
    </form>











</aside>
<article class="col-8 col-m-8">
<!-- Here we get to display our search results! -->
    <h2>Search Results</h2>
    {% block content %}
    <table aria-label="Matching Ports" class="col-12 col-m-12">
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Number of Calls</th>
            <th>Total Capacity</th>
        </tr>
        {% for port in ports %}
            <tr>
                <td><a href="/port/{{ port.Port }}/">{{ port.Port }}</a></td>
                <td>{{ port.State }}</td>
                <td>{{ port.AllCalls }}</td>
                <td>{{ port.AllCapacity }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
</article>
</div>
</body>
</html>
